/***********************************
The Box Grid
Written by: Sean Stopnik
thelifemgmt@gmail.com
***********************************/


/* Rows */
.row {display: block; width: 100%;}
.row .row {margin:0 -10px; width:auto;}
.row.with-spacing {margin-bottom: 40px;}
* html .row {height: 1%;}


/* Box Widths */
.box-1 {width:40px;}
.box-2 {width:100px;}
.box-3 {width:160px;}
.box-4 {width:220px;}
.box-5 {width:280px;}
.box-6 {width:340px;}
.box-7 {width:400px;}
.box-8 {width:460px;}
.box-9 {width:520px;}
.box-10 {width:580px;}
.box-11 {width:640px;}
.box-12 {width:700px;}
.box-13 {width:760px;}
.box-14 {width:820px;}
.box-15 {width:880px;}
.box-16 {width:940px;}
.box-3.sixth {width:140px;}
.box-5.third{width:300px;}
.box-10.two-third{width:620px;}

.box-1, .box-2, .box-3, .box-4, .box-5, .box-6, .box-7, .box-8,
.box-9, .box-10, .box-11, .box-12, .box-13, .box-14, .box-15, .box-16,
.box-5.third, .box-10.two-third {
	float: left;
	margin: 0 10px;
}


/* Clearing */
.clear {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;}
.row:before, .row:after {content: ""; display: block; height: 0; overflow: hidden; visibility: hidden;}
.row:after {clear: both;}


/* Container */
.container {position: relative; width: 960px; margin: 0 auto;}


/* Media Queries */
/* Mobile */
@media only screen and (max-width: 767px), (max-device-width: 767px) {
	* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-text-size-adjust: none;}
	.row img {display: block; max-width: 100%; height: auto;}
	.row .row {margin: 0;}
	.container {width: 100%; padding: 0 20px; overflow: hidden;}
	.box-1, .box-2, .box-3, .box-4, .box-5, .box-6, .box-7, .box-8,
	.box-9, .box-10, .box-11, .box-12, .box-13, .box-14, .box-15, .box-16,
	.box-3.sixth, .box-5.third, .box-10.two-third{width: 100%; margin: 0 0 20px;}
	.wrapper .left-content, .wrapper .right-content, nav{margin: 0px !important;}
	.logo{margin: 20px auto 0px auto !important;}
}

/* iPad */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.row img {display: block; max-width: 100%; height: auto;}
	.container {width: 768px; overflow: hidden;}
	.box-13, .box-14, .box-15, .box-16{width: 748px;}	
	.wrapper .right-content{float: left !important; width: 580px; margin: 0px 40px !important;}
}
