/*
	@font-face: Lato
	font-weight: 300; Book
	font-weight: 400; Normal
*/

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;	
	vertical-align: baseline;
}
html {overflow-y: scroll;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}


/* HTML 5 Fix */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}


/* Defaults */
hr {
	display: block;
	border: 0;
	height: 2px;
	background: url(../images/hr_horizontal.png) repeat-x;
	margin: 0 10px 40px;
	padding: 0;
}
p:last-child {margin-bottom: 0;}
input[type=reset], input[type=submit]{border: 0; cursor: pointer;}
input, select {vertical-align: middle;}
.wrapper a.read-more{margin: 5px 0px 10px 0px; display: inline-block; color: #fff;}

input.button.red-btn{
	background: rgb(255,48,25);
	background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1)));
	background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );	
}

input.button.red-btn:hover{
	background: rgb(207,4,4);
	background: -moz-linear-gradient(top,  rgba(207,4,4,1) 0%, rgba(255,48,25,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(207,4,4,1)), color-stop(100%,rgba(255,48,25,1)));
	background: -webkit-linear-gradient(top,  rgba(207,4,4,1) 0%,rgba(255,48,25,1) 100%);
	background: -o-linear-gradient(top,  rgba(207,4,4,1) 0%,rgba(255,48,25,1) 100%);
	background: -ms-linear-gradient(top,  rgba(207,4,4,1) 0%,rgba(255,48,25,1) 100%);
	background: linear-gradient(to bottom,  rgba(207,4,4,1) 0%,rgba(255,48,25,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf0404', endColorstr='#ff3019',GradientType=0 );
}

input[type=button], input[type=submit], button, a.read-more {border: 0;
	background: rgb(1,112,217);
	background: -moz-linear-gradient(top,  rgba(1,112,217,1) 0%, rgba(1,109,210,1) 43%, rgba(2,106,205,1) 55%, rgba(0,94,181,1) 90%, rgba(2,92,180,1) 98%, rgba(1,100,193,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(1,112,217,1)), color-stop(43%,rgba(1,109,210,1)), color-stop(55%,rgba(2,106,205,1)), color-stop(90%,rgba(0,94,181,1)), color-stop(98%,rgba(2,92,180,1)), color-stop(100%,rgba(1,100,193,1)));
	background: -webkit-linear-gradient(top,  rgba(1,112,217,1) 0%,rgba(1,109,210,1) 43%,rgba(2,106,205,1) 55%,rgba(0,94,181,1) 90%,rgba(2,92,180,1) 98%,rgba(1,100,193,1) 100%);
	background: -o-linear-gradient(top,  rgba(1,112,217,1) 0%,rgba(1,109,210,1) 43%,rgba(2,106,205,1) 55%,rgba(0,94,181,1) 90%,rgba(2,92,180,1) 98%,rgba(1,100,193,1) 100%);
	background: -ms-linear-gradient(top,  rgba(1,112,217,1) 0%,rgba(1,109,210,1) 43%,rgba(2,106,205,1) 55%,rgba(0,94,181,1) 90%,rgba(2,92,180,1) 98%,rgba(1,100,193,1) 100%);
	background: linear-gradient(to bottom,  rgba(1,112,217,1) 0%,rgba(1,109,210,1) 43%,rgba(2,106,205,1) 55%,rgba(0,94,181,1) 90%,rgba(2,92,180,1) 98%,rgba(1,100,193,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0170d9', endColorstr='#0164c1',GradientType=0 );
}
input[type=button]:hover, input[type=submit]:hover, button:hover, a.read-more:hover{cursor: pointer; 
	background: rgb(1,100,193);
	background: -moz-linear-gradient(top,  rgba(1,100,193,1) 0%, rgba(2,92,180,1) 2%, rgba(0,94,181,1) 10%, rgba(2,106,205,1) 45%, rgba(1,109,210,1) 57%, rgba(1,112,217,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(1,100,193,1)), color-stop(2%,rgba(2,92,180,1)), color-stop(10%,rgba(0,94,181,1)), color-stop(45%,rgba(2,106,205,1)), color-stop(57%,rgba(1,109,210,1)), color-stop(100%,rgba(1,112,217,1)));
	background: -webkit-linear-gradient(top,  rgba(1,100,193,1) 0%,rgba(2,92,180,1) 2%,rgba(0,94,181,1) 10%,rgba(2,106,205,1) 45%,rgba(1,109,210,1) 57%,rgba(1,112,217,1) 100%);
	background: -o-linear-gradient(top,  rgba(1,100,193,1) 0%,rgba(2,92,180,1) 2%,rgba(0,94,181,1) 10%,rgba(2,106,205,1) 45%,rgba(1,109,210,1) 57%,rgba(1,112,217,1) 100%);
	background: -ms-linear-gradient(top,  rgba(1,100,193,1) 0%,rgba(2,92,180,1) 2%,rgba(0,94,181,1) 10%,rgba(2,106,205,1) 45%,rgba(1,109,210,1) 57%,rgba(1,112,217,1) 100%);
	background: linear-gradient(to bottom,  rgba(1,100,193,1) 0%,rgba(2,92,180,1) 2%,rgba(0,94,181,1) 10%,rgba(2,106,205,1) 45%,rgba(1,109,210,1) 57%,rgba(1,112,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0164c1', endColorstr='#0170d9',GradientType=0 );
}
.float-left {float: left;}
.float-right {float: right;}
.center {text-align: center;}
.bold, b, strong {font-weight: bold;}
.italic, i {font-style: italic;}
.normal {font-weight: normal;}
.note{font-size: 12px;}
.noselect {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.nomargin {margin: 0;}
.hide {display: none;}
.position {position: relative;}
small {font-size: 11px;}
.errors{display: none; background: #d00; color: #fff; margin: 10px 0px; font-weight: bold; padding: 5px 10px;}
.input-error{border: 1px solid #d00;}
.success{display: none; background: #20bb3a;}
.round3px{-webkit-border-radius: 3px; border-radius: 3px;}

/* Effects */
.shadow {
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.glow {
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.rounded {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.fade {
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  	filter: alpha(opacity=100);
  	-moz-opacity: 1.0;
  	-khtml-opacity: 1.0;
  	opacity: 1.0;
}
.fade:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  	filter: alpha(opacity=60);
  	-moz-opacity: 0.6;
  	-khtml-opacity: 0.6;
  	opacity: 0.6;
}


/* Lists */
ul li {margin-bottom: 10px;}
ul.disc {list-style-type: disc; margin-left: 20px;}
ul.square {list-style-type: square; margin-left: 20px;}


/* Spacing */
.top10 {margin-top: 10px;}
.top20 {margin-top: 20px;}
.top30 {margin-top: 30px;}
.top40 {margin-top: 40px;}
.bottom10 {margin-bottom: 10px;}
.bottom20 {margin-bottom: 20px;}
.bottom30 {margin-bottom: 30px;}
.bottom40 {margin-bottom: 40px;}


/* Placeholder Styles */
::-webkit-input-placeholder {color: #636363;}
:-moz-placeholder {color: #636363;}


/* Text Select */
::selection {background: #464646; color: #fff;}
::-moz-selection {background: #464646; color: #fff;}


/* Tables */
table {width: 100%;}
table th, table td {text-align: left;}


/* Clearing */
.clear {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;}
.row:before, .row:after {content: ""; display: block; height: 0; overflow: hidden; visibility: hidden;}
.row:after {clear: both;}

/* Defaults */
.button, a.button, a.read-more {
	padding: 10px 15px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
}

.button:hover, a.button:hover {background-color: #252525;}

.small-btn{font-size: 12px; padding: 5px 10px;}

/***********************************
Main Stylesheet
***********************************/
/* Body */
body {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 28px;
	color: #484849;
	background: url(../images/bkg.jpg);
	-webkit-font-smoothing: antialiased;
}

input:focus, textarea:focus{
	-webkit-box-shadow:  0px 0px 5px 0px #ff5300;
	box-shadow:  0px 0px 5px 0px #ff5300;
	outline-color: #ff5300;
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}
input[type=text], input[type=password], textarea{border: 1px solid #C4C4C4;}

p{font-size: 18px; font-weight: 300; margin: 15px 0px;}

a:link, a:visited, a:active, a {
	text-decoration: none;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	outline: none;
	font-weight: 400;
	color: #FF5300;
}

a:hover {cursor: pointer; color: #2b2b2b;}

/* Typography */
h1{color: #ff5300; font-size: 40px; font-weight: 300; padding-bottom: 10px; border-bottom: medium double #c4c4c4}
h2{color: #0170d8; font-size: 30px; font-weight: 300; padding-bottom: 10px;}

header .box-8{width: 450px;}
	.login-links{float: right; margin: 0px 20px;}
		.login-links li{float: left; display: inline; margin: 0px 5px;}
		.login-links a{font-size: 12px; color: #ff5300;}
		.login-links a:hover{color: #2B2B2B;}



article h2{color: #2b2b2b; font-size: 30px; font-weight: 300;}
article h3{color: #484849; font-size: 20px; font-weight: 300;}
article h4{color: #737475; font-size: 16px; font-weight: 300;}

.wrapper{background: #f9f9f9;}
.logo{margin: 40px 0px 0px 30px;}

/* Nav */
nav{border-top: 1px solid #c4c4c4; border-bottom: 1px solid #c4c4c4; margin: 5px 40px;}
nav li:first-child{margin: 5px 0px;}
nav li {float: left; margin: 5px 0px 5px 20px;}
.wrapper nav a{color: #2B2B2B;}
.wrapper nav a:hover{color: #ff5300;}

/* Main Content */
.wrapper .left-content{float: left; margin: 0px 20px 0px 40px; padding: 20px 0px;}

article{border-bottom: medium double #c4c4c4; margin: 10px 0px; padding: 10px 0px 20px 0px;}

hr{border-top: medium double #c4c4c4;}

/* Add Templates */
.centered-content{float: none; margin: 20px auto;}

/* Admin Forms */
.admin-form{margin: 20px auto;}
.admin-form label{width: 100%; display: block;}
.admin-form input[type=text], .admin-form input[type=password], .admin-form textarea {margin: 5px 0px; padding: 10px 5px; font-size: 20px; width: 100%; display: block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.admin-form textarea{height: 200px; margin: 0px 0px 10px 0px;}
.admin-form.edit-post input, .admin-form.edit-post textarea{font-size: 15px; line-height: 20px;}

.register-user .mail-confirm{margin: 10px;}
.register-user .mail-confirm-label{width: 90%;}
.register-user .user-type-label{width: 10%;}
.register-user select{margin: 7px;}

/* post.php Template */
.post-page h1{border-bottom: none;}
.post-page article{border-bottom: none;}

/* admin.php Template */
.admin-page{}
.admin-page h3{color: #484849; font-size: 20px; font-weight: 700;}
.admin-page .profile-details{margin: 10px 0px 20px 0px;}
.admin-page .profile-details li{font-size: 15px; margin: 3px 0px;}
.admin-edit-posts{font-size: 15px;}


/* Sidebar */
.wrapper .right-content{float: right; margin: 0px 40px 0px 20px; padding: 20px 0px;}


/* Foter */
footer{margin: 5px 40px;}

/********************************************************************************
			CLEARING ELEMENTS THAT CONTAIN FLOATED ELEMENTS
********************************************************************************/

/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */